body {
	margin: 0;
	overflow: hidden;
}

.tcv_cad_viewer {
	margin: 0;
}

.modal {
	opacity: 0.8;
	border: 2px solid black;
	border-radius: 5px;
	position: absolute;
	left: 10%;
	top: 10%;
	right: 10%;
	bottom: 10%;
	padding: 1em;
	font-family: sans-serif;
	z-index: 1000;
	overflow: scroll;
}

.modal.error {
	background-color: pink;
}

.modal.info {
	background-color: lightblue;
}

.modal pre {
	background-color: grey;
}

.cqs_module_item {
    margin: 0.5em;
	display: inline-block;
    padding: 0.5em;
    background-color: beige;
    border: 2px solid black;
    border-radius: 0.5em;
	min-width: 7em;
	text-align: center;
}

.cqs_module_item img {
    border-radius: 0.5em;
	display: block;
	float: left;
}

.cqs_module_item img:hover {
	filter: sepia(100%) drop-shadow(2px 2px 5px gray);
}

.cqs_module_item div {
	margin-left: 0.5em;
	float: right;
}

.cqs_module_item div a {
	padding: 0.1em 0.3em;
	color: black;
	text-decoration: none;
	background-color: chocolate;
    border-radius: 0.3em;
}

.cqs_module_item div a:hover {
	background-color: darkkhaki;
}

.cqs_module_item_link {
	cursor: pointer;
}
