<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>{{ module }} | CadQuery Viewer</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon_cq.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/three-cad-viewer.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='viewer.css') }}" />
	<script src="{{ url_for('static', filename='vendor/three-cad-viewer.js') }}"></script>
</head>

<body>
	<div id="cad_view"></div>
	<script src="{{ url_for('static', filename='viewer.js') }}"></script>
	<script>
		window.addEventListener('DOMContentLoaded', () => {
			init_viewer('{{ module }}', {{ options | tojson }});
		});
	</script>
</body>

</html>
