<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>CadQuery Server</title>

	{% if static %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/three-cad-viewer/dist/three-cad-viewer.css" />
	<style>{{ viewer_css | safe }}</style>
	<script src="https://cdn.jsdelivr.net/npm/three-cad-viewer@1.6.4/dist/three-cad-viewer.js"></script>
	{% else %}
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon_cq.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/three-cad-viewer.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='viewer.css') }}" />
	<script src="{{ url_for('static', filename='vendor/three-cad-viewer.js') }}"></script>
	{% endif %}

</head>

<body>
	<div id="cad_view"></div>

	<div class="modal error" id="cqs_error" style="display: none">
		<h2>Oops! An error occured.</h2>
		<p id="cqs_error_message"></p>
		<pre id="cqs_stacktrace"></pre>
	</div>

	<div class="modal info" id="cqs_index" style="display: none">
		<h2>Available modules:</h2>
		<p id="cqs_no_modules" style="display: none">There is no module available in the target directory.</p>
		<ul id="cqs_modules_list"></ul>
	</div>

	{% if static %}
	<script>{{ viewer_js | safe }}</script>
	{% else %}
	<script src="{{ url_for('static', filename='viewer.js') }}"></script>
	{% endif %}

	<script>
		window.addEventListener('DOMContentLoaded', () => {
			{% if not static %}init_sse();{% endif %}
			init_viewer({{ options | tojson }}, {{ modules_name | tojson }});
			render({{ data | tojson }});
		});
	</script>
</body>

</html>
